.catalog-container {
  background-color: #ffffff;
  padding-bottom: 58px;
}

.catalog-container__header {
  min-height: 177px;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 74px;
  box-sizing: border-box;
}

.catalog-container__title {
  margin: 0;
}
