.catalog {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

.catalog__result-list {
  list-style-type: none;
  padding: 30px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 77px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 316px 316px 316px;
    gap: 51px;
    padding-top: 130px;
  }
}

.catalog__result-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.catalog__result-card {
  padding: 27px;
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 32px;
    padding-top: 27px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px;
  }
}

.catalog__result-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.catalog__result-item {
  display: block;
  min-width: 260px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    max-width: 316px;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.catalog__result-description {
  margin: 0;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.catalog__result-price-container {
  display: flex;
  margin-top: auto;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.catalog__result-button {
  margin-left: auto;
  padding: 0;
  background-color: #ffffff;
  border: none;

  @media (min-width: $desktop-width) {
    padding-right: 4px;
  }
}

.catalog__result-image {
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    min-width: 334px;
    min-height: 334px;
    object-fit: cover;
  }

  @media (min-width: $desktop-width) {
    min-width: 100%;
    min-height: 462px;
  }
}
