.catalog-container {
  background-color: #ffffff;
  padding-bottom: 58px;
}

.catalog-container__header {
  min-height: 177px;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 74px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 101px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}

.catalog-container__title {
  margin: 0;
}
