.contacts__title {
  padding-left: 30px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }
}

.contacts__table {
  padding: 28px 30px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-left: 50px;
  }
}

.contacts__row {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    width: 355px;
    display: inline-block;
    vertical-align: top;
  }
}

.contacts__header {
  min-width: 76px;
  font-weight: 400;
  text-align: start;
  vertical-align: top;
}

.contacts__data {
  padding-bottom: 40px;
}

.contacts__map-image {
  display: block;
}

.contacts__button-wrapper {
  padding: 40px 30px;
}

.contacts__button {
  display: inline-block;
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #444444;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $table-width) {
    display: block;
    width: 230px;
  }
}
