.contacts {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 630px;
    width: 1050px;
    box-sizing: border-box;
    padding-left: 175px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 71px;
    padding-bottom: 105px;
  }
}

.contacts__content-wrapper {
  @media (min-width: $tablet-width) {
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    order: 0;
    max-width: 280px;
    margin-right: 51px;
    margin-bottom: 85px;
  }
}

.contacts__title {
  padding-left: 30px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 49px;
    padding: 0;
  }
}

.contacts__table {
  padding: 28px 30px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
  }
}

.contacts__row {
  font-size: 14px;

  @media (min-width: $tablet-width) {
    width: 280px;
    display: inline-block;
    vertical-align: top;
  }
}

.contacts__header {
  min-width: 76px;
  font-weight: 400;
  text-align: start;
  vertical-align: top;
}

.contacts__data {
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.contacts__map {
  @media (min-width: $desktop-width) {
    order: 2;
    width: 527px;
  }
}

.contacts__map-image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  padding: 40px 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 55px 50px 57px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    max-width: 300px;
    order: 1;
    text-align: left;
  }
}

.contacts__button {
  display: inline-block;
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #444444;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 230px;
    font-size: 17px;
  }
}
