.form {
  padding: 30px 30px 30px 0;

  @media (min-width: $tablet-width) {
    padding: 63px 0 0 0;
  }
}

.form__group {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(2n+2) {
      background-color: #f1f1f1;
    }
  }
}

.form__group-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0;

    &--contacts {
      flex-direction: column;
    }
  }

  @media (min-width: $desktop-width) {
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 115px;
    box-sizing: border-box;
  }
}

.form__group-title {
  margin-bottom: 19px;
  color: #63d1bb;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 167px;
  }

  @media (min-width: $desktop-width) {
    width: 115px;
  }
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    flex-grow: 1;

    &--checkbox {
      display: grid;
      grid-template-columns: 248px 248px;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 700px;

    &--checkbox {
      grid-template-columns: 205px 205px 205px;
    }
  }
}

.form__list-item {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label-wrapper {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.form__label {
  @media (min-width: $tablet-width) {
    display: flex;

    &--extension {
      flex-grow: 1;
    }
  }
}

.form__label-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__group-contacts-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__text-input {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: $lightgrey;
  box-shadow: inset 0 -2px 0 #000000;

  @media (min-width: $tablet-width) {
    .form__group-container--contacts & {
      background-color: #f1f1f1;
    }
  }
}

.form__textarea {
  min-height: 142px;
  width: 100%;
  padding: 17px;
  color: $lightgrey;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.form__small-text {
  display: block;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  width: 260px;
  padding: 18px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: auto;
  }
}
