.front-catalog {
  position: relative;
}

.front-catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.front-catalog__item {
  position: relative;
  text-decoration: none;
  background-color: #63d1bb;
  background-repeat: no-repeat;

  &:hover,
  &:active {
    background-color: #59d5bc;
  }

  &:hover::after {
    opacity: 0.7;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--lego {
    background-color: #56c3b2;
  }

  &--lego:hover,
  &--lego:active {
    background-color: #46c1ae;
  }

  &::after {
    position: absolute;
    content: "";
  }

  &--lamp::after {
    width: 40px;
    height: 62px;
    right: 36px;
    top: 23px;
    background-image: url("../img/lamp.svg");
    background-position: center;
    opacity: 0.5;
  }

  &--lego::after {
    width: 60px;
    height: 60px;
    right: 27px;
    top: 21px;
    background-image: url("../img/lego.svg");
    background-position: center;
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    width: 50%;

    &--lamp::after {
      right: 37px;
      top: 30px;
      background-position: center;
    }

    &--lego::after {
      right: 34px;
      top: 31px;
      background-position: center;
    }
  }
}

.front-catalog__link {
  display: block;
  padding: 24px 160px 31px 31px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 35px;
    padding-left: 36px;
    font-size: 20px;
    line-height: 30px;
  }
}
