.informative-stand {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    margin-bottom: 89px;
  }
}

.informative-stand__title {
  margin: 0 30px 30px 30px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

.informative-stand__list {
  list-style-type: none;
  padding: 0 30px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
  }
}

.informative-stand__item {
  padding-top: 53px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-repeat: no-repeat;

  &--flower {
    background-image: url("../img/flower.svg");

    @media (min-width: $tablet-width) {
      order: 0;
    }
  }

  &--ruble {
    background-image: url("../img/ruble.svg");

    @media (min-width: $tablet-width) {
      order: 2;
    }
  }

  &--heart {
    background-image: url("../img/heart.svg");

    @media (min-width: $tablet-width) {
      order: 4;
    }
  }

  &--ball {
    background-image: url("../img/ball.svg");

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }

  &--rocket {
    background-image: url("../img/rocket.svg");

    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &--present {
    background-image: url("../img/present.svg");

    @media (min-width: $tablet-width) {
      order: 5;
    }
  }

  @media (min-width: $tablet-width) {
    // width: 295px;
    font-size: 20px;
    line-height: 22px;
  }
}

