.informative-stand {
  margin-top: 24px;
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    margin-bottom: 44px;
    margin-top: 0;
    padding-top: 47px;
  }
}

.informative-stand__title {
  margin: 0 30px 29px 30px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.informative-stand__list {
  list-style-type: none;
  padding: 0 30px 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    column-count: 2;
    padding: 0;
    padding-right: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 79px;
  }
}

.informative-stand__item {
  padding-top: 53px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-repeat: no-repeat;

  &--flower {
    background-image: url("../img/flower.svg");
    background-position: left 8px top 0;
  }

  &--ruble {
    background-image: url("../img/ruble.svg");
    background-position: left 1px top 0;
  }

  &--heart {
    background-image: url("../img/heart.svg");
    background-position: left 6px top 5px;
  }

  &--ball {
    background-image: url("../img/ball.svg");
    background-position: left 4px top 1px;
  }

  &--rocket {
    background-image: url("../img/rocket.svg");
    background-position: left -6px top 1px;
  }

  &--present {
    background-image: url("../img/present.svg");
    background-position: left 3px top 1px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    margin-bottom: 44px;
    font-size: 20px;
    line-height: 22px;
    background-position: left 3px top 14px;
  }
}
