.main-container {
  background-color: #ffffff;
}

.main-container__header {
  background-color: #f9f9f9;
}

.main-container__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 489px;
  background-image: url("../img/hero-mobile.jpeg");
  background-color: #f9f9f9;
  background-position: 50% -18px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 73px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpeg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    min-height: 746px;
    padding-top: 155px;
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("../../img/hero-tablet.jpeg");
    background-position: 50% -2px;
    background-size: 768px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpeg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding-top: 158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../../img/hero-desktop.jpeg");
    background-position: 50% -2px;
    background-size: 1150px auto;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpeg");
      background-size: 1150px auto;
    }
  }
}

.main-container__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 0 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
