.main-nav {
  position: relative;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media (max-width: $mobile-width-only) {
  .main-nav--opened .site-list {
    position: absolute;
    top: 79px;
    right: 0;
    width: 100%;
    background-color: #ffffff;
  }

  .main-nav--opened .user-list {
    position: absolute;
    top: 238px;
    right: 0;
    width: 100%;
    background-color: #ffffff;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--closed .user-list {
    display: none;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../../img/menu.svg");
  top: 32px;
  right: 31px;
  display: inline-block;
  background-color: #ffffff;
  border: none;
  cursor: pointer;


  .main-nav--opened & {
    background-image: url("../../img/menu-close.svg");
    width: 21px;
    height: 20px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
}

.main-nav__logo {
  display: inline-block;
  height: 35px;

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.main-nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79px;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 150px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-nav__delivery {
  display: none;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    right: 50px;
    top: calc(100% + 20px);
  }
}
