.main-header {
  background-color: #ffffff;
  margin-bottom: 1px;
}

.main-header__logo {
  display: inline-block;
}

.main-header__container {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
