.modal-container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
  }
}
