.modal-form {
  padding: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 37px 108px 46px;
  }
}

.modal-form__title {
  font-size: 25px;
  line-height: 30px;
}

.modal-form__text {
  line-height: 30px;
}

.modal-form__container {
  display: flex;
  margin-bottom: 31px;
  justify-content: center;
}

.modal-form__control {
  display: inline-block;
  min-width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 7px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  box-sizing: border-box;
  border: 2px solid #63d1bb;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.modal__button {
  width: 260px;
  padding: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #63d1bb;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
