.offer-list {
  display: none;
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 3;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 50px;
  }
}

.offer-list__item {
  padding: 0 30px;

  &:first-child {
    padding-left: 0;
  }
}

.offer-list__link {
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;

  @media (min-width: $desktop-width) {
    font-size: 15px;
    padding: 20px 2px 20px;
  }
}
