.page-footer {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    min-height: 143px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.page-footer__logo-link {
  display: inline-block;
}


.page-footer__social {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.page-footer__social-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  width: 142px;
  margin: 25px auto;
  justify-content: space-between;
}

.page-footer__copyright {
  width: 182px;
  margin: 25px auto;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 19px;
    line-height: 18px;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

.page-footer__copyright-title {
  margin: 0;
  color: #000000;
  font-size: 19px;
  line-height: 18px;
}
