.reviews {
  background-image: url("../img/zigzag-line-mob.svg");
  background-repeat: no-repeat;
  background-size: 100% 23px;
  background-position: bottom;
}

.reviews__content-wrapper {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0;
    margin-bottom: 23px;
    padding: 87px 50px 142px;
    background-image: url("../img/napkin.jpg");
    background-repeat: no-repeat;
    background-size: 350px, 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/napkin@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: 78px 50px 188px 176px;
    box-sizing: border-box;
  }
}

.reviews__title {
  margin: 0 0 16px;
  font-size: 25px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.reviews__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 44px;
  }
}

.reviews__author {
  margin: 27px 0 2px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 7px;
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__author-nickname {
  margin: 0;
  line-height: 24px;
  font-size: 17px;
}

.reviews__author-link {
  text-decoration: none;
  color: #000000;
}

.reviews__button {
  display: inline-block;
  width: 260px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  border: 2px solid #444444;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
    background-color: rgba(68, 68, 68, 1);
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
    background-color: rgba(68, 68, 68, 1);
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 83px;
    right: 50px;
    margin-bottom: 0;
    padding-bottom: 13px;
    width: 175px;
    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    top: 79px;
    right: 0;
  }
}

.reviews__slide-button-wrapper {
  display: flex;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 49px;
    bottom: 136px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 188px;
    right: 0;
  }
}

.reviews__slide-button {
  position: relative;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 26px;
    border-right-width: 0.5px;
    background-image: url("../../img/huge-arrow-left.svg");
    fill: #000000;
    background-repeat: no-repeat;
    background-position: center;
    right: 41px;
    top: 10px;
  }

  &--next::after {
    border-left-width: 0.5px;
    transform: scale(-1, 1);
  }

  &:hover::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 88px;
    border: none;

    &::after {
      right: 20px;
      top: 14px;
    }
  }
}
