.reviews {
  margin-left: 30px;
  margin-right: 30px;
}

.reviews__author-link {
  text-decoration: none;
  color: #000000;
}

.reviews__button {
  text-decoration: none;
  color: #000000;
  border: 2px solid #444444
}

.reviews__slide-button {
  width: 130px;
  height: 52px;
  border: 1px solid #ECECEC
}
