.site-list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 2;
    position: absolute;
    top: 89px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    position: unset;
    order: 0;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.site-list__link {
  display: inline-block;
  padding: 29px 65px;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 20px  18px 20px 18px;

    &--catalog {
      padding-left: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 30px 35px 35px 35px;
  }
}
