.site-list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 2;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    position: unset;
    order: 0;
    padding-left: 0;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  @media (min-width: $tablet-width) {
    box-shadow: none;
    padding: 0 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px;

    &:first-child {
      padding-left: 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.site-list__link {
  display: inline-block;
  padding: 29px 30px 27px 76px;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 21px 0 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 34px 0 31px;
  }
}
