.user-list {
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    margin-left: 0;
  }
}

.user-list__item {
  position: relative;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  white-space: nowrap;
}

.user-list__link {
  display: inline-block;
  padding: 29px 30px 27px 76px;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;

    &--magnifying-glass {
      padding: 35px 31px 30px 33px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }

    &--cart {
      padding: 35px 0 30px 32px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  @media (min-width: $desktop-width) {
    &--cart {
      padding: 33px 2px 30px 29px;
    }
  }
}

.user-list__magnifying-glass-icon {
  position: absolute;
  left: 32px;
  top: 33px;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.user-list__cart-icon {
  position: absolute;
  left: 30px;
  top: 33px;

  @media (min-width: $tablet-width) {
    position: static;
    margin-right: 26px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 28px;
  }
}

.user-list__link-text {
  @media (min-width: $tablet-width) {
    @include visually-hidden;
  }
}
