@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  background-color: #f2f2f2;
  margin: 0;
}

.main-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-bottom: 1px;
}

.main-container {
  background-color: #ffffff;
}

.main-container__header {
  background-color: #f9f9f9;
}

.main-container__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 489px;
  background-image: url("../../img/hero-mobile.jpg");
  background-color: #f9f9f9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding-top: 73px;
}
@media (min-width: 768px) {
  .main-container__content-wrapper {
    min-height: 758px;
    padding-top: 155px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .main-container__content-wrapper {
    width: 1050px;
    padding-top: 158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.main-container__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
  padding: 0 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-container__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .main-container__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.front-catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .front-catalog__list {
    display: flex;
  }
}

.front-catalog__item {
  text-decoration: none;
  background-color: #63d1bb;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .front-catalog__item {
    width: 50%;
  }
}
.front-catalog__item--lamp {
  background-image: url("../img/lamp.svg");
  background-position: center right 26px;
}
.front-catalog__item--lego {
  background-color: #56c3b2;
  background-image: url("../img/lego.svg");
  background-position: center right 17px;
}

.front-catalog__link {
  display: block;
  padding: 24px 160px 31px 30px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.product-demonstration {
  background-color: #ffffff;
}

.product-demonstration__content-wrapper {
  position: relative;
  padding: 30px;
}
@media (min-width: 768px) {
  .product-demonstration__content-wrapper {
    padding: 50px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__content-wrapper {
    width: 1050px;
    margin: 0 auto;
    padding-top: 115px;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-demonstration__title-wrapper {
  z-index: 10;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .product-demonstration__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__title-wrapper {
    flex-direction: row-reverse;
    justify-content: left;
    padding: 0 38px;
  }
}

.product-demonstration__title {
  margin: 0;
  font-size: 25px;
  z-index: 1;
}
@media (min-width: 768px) {
  .product-demonstration__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__title {
    margin-left: 35px;
    font-size: 53px;
    line-height: 57px;
  }
}

.product-demonstration__subtitle {
  color: #63d1bb;
  margin: 0;
  z-index: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .product-demonstration__subtitle {
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 17px;
    line-height: 17px;
  }
}
.product-demonstration__description {
  line-height: 24px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .product-demonstration__description {
    margin-bottom: 48px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__description {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .product-demonstration__detail {
    margin-bottom: 57px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__detail {
    margin-bottom: 109px;
  }
}

@media (min-width: 768px) {
  .product-demonstration__description-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0 40px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__description-wrapper {
    margin-left: 175px;
    grid-template-columns: 292px;
    gap: 0 58px;
  }
}

@media (min-width: 768px) {
  .product-demonstration__image {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    order: 3;
    width: 334px;
    height: 404px;
  }
}
@media (min-width: 1150px) {
  .product-demonstration__image {
    width: 525px;
    height: 636px;
    position: absolute;
    right: 0;
    top: 54px;
  }
}

.product-demonstration__price-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .product-demonstration__price-wrapper {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin-bottom: 33px;
  }
}

.product-demonstration__button {
  width: 260px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .product-demonstration__button {
    width: 100%;
  }
}

.detail {
  width: 100%;
}

.detail__header {
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: 400;
  text-align: start;
}

.detail__data {
  padding-top: 9px;
  padding-bottom: 9px;
}

.detail__row {
  box-shadow: inset 0 1px 0 #ececec;
  line-height: 20px;
}

.informative-stand {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .informative-stand {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 82px;
  }
}
@media (min-width: 1150px) {
  .informative-stand {
    padding-left: 110px;
    margin-bottom: 89px;
  }
}

.informative-stand__title {
  margin: 0 30px 30px 30px;
  font-size: 25px;
}
@media (min-width: 768px) {
  .informative-stand__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 0;
    margin-right: 0;
  }
}

.informative-stand__list {
  list-style-type: none;
  padding: 0 30px 0;
  margin: 0;
}
@media (min-width: 768px) {
  .informative-stand__list {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
  }
}

.informative-stand__item {
  padding-top: 53px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  background-repeat: no-repeat;
}
.informative-stand__item--flower {
  background-image: url("../img/flower.svg");
}
@media (min-width: 768px) {
  .informative-stand__item--flower {
    order: 0;
  }
}
.informative-stand__item--ruble {
  background-image: url("../img/ruble.svg");
}
@media (min-width: 768px) {
  .informative-stand__item--ruble {
    order: 2;
  }
}
.informative-stand__item--heart {
  background-image: url("../img/heart.svg");
}
@media (min-width: 768px) {
  .informative-stand__item--heart {
    order: 4;
  }
}
.informative-stand__item--ball {
  background-image: url("../img/ball.svg");
}
@media (min-width: 768px) {
  .informative-stand__item--ball {
    order: 1;
  }
}
.informative-stand__item--rocket {
  background-image: url("../img/rocket.svg");
}
@media (min-width: 768px) {
  .informative-stand__item--rocket {
    order: 3;
  }
}
.informative-stand__item--present {
  background-image: url("../img/present.svg");
}
@media (min-width: 768px) {
  .informative-stand__item--present {
    order: 5;
  }
}
@media (min-width: 768px) {
  .informative-stand__item {
    font-size: 20px;
    line-height: 22px;
  }
}

.reviews {
  margin-left: 30px;
  margin-right: 30px;
}
@media (min-width: 768px) {
  .reviews {
    position: relative;
    margin: 0;
    margin-bottom: 85px;
    padding: 83px 50px 50px;
    background-image: url("../img/napkin.png");
    background-repeat: no-repeat;
    background-size: 350px, 457px;
  }
}
@media (min-width: 1150px) {
  .reviews {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding: 78px 50px 96px 175px;
    box-sizing: border-box;
  }
}

.reviews__title {
  font-size: 25px;
}
@media (min-width: 768px) {
  .reviews__title {
    margin: 0;
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__item {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .reviews__item {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .reviews__description {
    margin: 0;
    margin-bottom: 61px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .reviews__description {
    margin-bottom: 44px;
  }
}

.reviews__author {
  font-size: 17px;
}
@media (min-width: 768px) {
  .reviews__author {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 768px) {
  .reviews__author-nickname {
    margin: 0;
    font-size: 17px;
  }
}

.reviews__author-link {
  text-decoration: none;
  color: #000000;
}

.reviews__button {
  display: inline-block;
  width: 260px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  border: 2px solid #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .reviews__button {
    position: absolute;
    top: 83px;
    right: 50px;
    margin-bottom: 0;
    width: 175px;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .reviews__button {
    top: 79px;
  }
}

.reviews__slide-button-wrapper {
  display: flex;
  margin-bottom: 38px;
}
@media (min-width: 768px) {
  .reviews__slide-button-wrapper {
    position: absolute;
    right: 50px;
    bottom: 50px;
    margin: 0;
  }
}
@media (min-width: 1150px) {
  .reviews__slide-button-wrapper {
    bottom: 97px;
  }
}

.reviews__slide-button {
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  background-color: #ffffff;
}
.reviews__slide-button--previous {
  border-right-width: 0.5px;
}
.reviews__slide-button--next {
  border-left-width: 0.5px;
}

@media (min-width: 1150px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 630px;
    width: 1050px;
    box-sizing: border-box;
    padding-left: 175px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 71px;
    padding-bottom: 105px;
  }
}

@media (min-width: 768px) {
  .contacts__content-wrapper {
    padding: 50px;
  }
}
@media (min-width: 1150px) {
  .contacts__content-wrapper {
    padding: 0;
    order: 0;
    max-width: 280px;
    margin-right: 51px;
    margin-bottom: 85px;
  }
}

.contacts__title {
  padding-left: 30px;
  font-size: 25px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 49px;
    padding: 0;
  }
}

.contacts__table {
  padding: 28px 30px;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .contacts__table {
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .contacts__table {
    max-width: 280px;
  }
}

.contacts__row {
  font-size: 14px;
}
@media (min-width: 768px) {
  .contacts__row {
    width: 280px;
    display: inline-block;
    vertical-align: top;
  }
}

.contacts__header {
  min-width: 76px;
  font-weight: 400;
  text-align: start;
  vertical-align: top;
}

.contacts__data {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts__data {
    padding-bottom: 0;
  }
}

@media (min-width: 1150px) {
  .contacts__map {
    order: 2;
    width: 527px;
  }
}

.contacts__map-image {
  display: block;
}
@media (min-width: 768px) {
  .contacts__map-image {
    width: 768px;
    height: 457px;
  }
}
@media (min-width: 1150px) {
  .contacts__map-image {
    width: 527px;
    height: 457px;
  }
}

.contacts__button-wrapper {
  padding: 40px 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts__button-wrapper {
    padding: 55px 50px 57px;
  }
}
@media (min-width: 1150px) {
  .contacts__button-wrapper {
    padding: 0;
    max-width: 300px;
    order: 1;
    text-align: left;
  }
}

.contacts__button {
  display: inline-block;
  width: 260px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  border: 2px solid #444444;
  text-decoration: none;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__button {
    display: inline-block;
    width: 230px;
    font-size: 17px;
  }
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    min-height: 143px;
  }
}

.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
  }
}

.page-footer__logo-link {
  display: inline-block;
}

@media (min-width: 768px) {
  .page-footer__social {
    display: flex;
    align-items: center;
  }
}

.page-footer__social-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  width: 142px;
  margin: 25px auto;
  justify-content: space-between;
}

.page-footer__copyright {
  width: 182px;
  margin: 25px auto;
}
@media (min-width: 768px) {
  .page-footer__copyright {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 19px;
    line-height: 18px;
  }
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-decoration: none;
}

.page-footer__copyright-title {
  margin: 0;
  color: #000000;
  font-size: 19px;
  line-height: 18px;
}

.modal-container {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .modal-container {
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
  }
}

.modal-form {
  padding: 30px;
  text-align: center;
}
@media (min-width: 768px) {
  .modal-form {
    padding: 37px 108px 46px;
  }
}

.modal-form__title {
  font-size: 25px;
  line-height: 30px;
}

.modal-form__text {
  line-height: 30px;
}

.modal-form__container {
  display: flex;
  margin-bottom: 31px;
  justify-content: center;
}

.modal-form__control {
  display: inline-block;
  min-width: 82px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 7px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  box-sizing: border-box;
  border: 2px solid #63d1bb;
}
.modal-form__control:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .modal-form__control {
    flex-grow: 1;
  }
}

.modal__button {
  width: 260px;
  padding: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #63d1bb;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  border: none;
}
@media (min-width: 768px) {
  .modal__button {
    width: 100%;
  }
}

.main-nav {
  position: relative;
  text-align: center;
  font-weight: 700;
}
@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }
}

.main-nav__toggle {
  position: absolute;
  width: 20px;
  height: 14px;
  background-image: url("../../img/menu.svg");
  top: 32px;
  right: 31px;
  display: inline-block;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
}

.main-nav__logo {
  display: inline-block;
  height: 35px;
}
@media (min-width: 768px) {
  .main-nav__logo {
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .main-nav__logo {
    padding-left: 0;
  }
}

.main-nav__container {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
@media (min-width: 768px) {
  .main-nav__container {
    width: 150px;
    text-align: left;
  }
}
@media (min-width: 1150px) {
  .main-nav__container {
    order: 2;
    margin-left: auto;
    margin-right: auto;
  }
}

.main-nav__delivery {
  display: none;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .main-nav__delivery {
    display: block;
    position: absolute;
    right: 50px;
    top: 110px;
  }
}

.site-list {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    order: 2;
    position: absolute;
    top: 89px;
    left: 0;
  }
}
@media (min-width: 1150px) {
  .site-list {
    position: unset;
    order: 0;
  }
}

.site-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
@media (min-width: 768px) {
  .site-list__item {
    box-shadow: none;
  }
}
@media (min-width: 1150px) {
  .site-list__item:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.site-list__link {
  display: inline-block;
  padding: 29px 65px;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 15px;
    padding: 20px 18px 20px 18px;
  }
  .site-list__link--catalog {
    padding-left: 50px;
  }
}
@media (min-width: 1150px) {
  .site-list__link {
    font-size: 17px;
    padding: 30px 35px 35px 35px;
  }
}

.user-list {
  list-style: none;
  padding: 0;
}
@media (min-width: 768px) {
  .user-list {
    display: flex;
    order: 0;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .user-list {
    order: 2;
    margin-left: 0;
  }
}

.user-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  white-space: nowrap;
}

.user-list__link {
  display: inline-block;
  padding: 29px 65px;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .user-list__link {
    padding: 0;
  }
  .user-list__link--magnifying-glass {
    padding: 30px 31px 35px 33px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .user-list__link--cart {
    padding: 30px 50px 35px 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .user-list__cart-icon {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .user-list__link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.offer-list {
  display: none;
  list-style: none;
  padding: 0;
}
@media (min-width: 1150px) {
  .offer-list {
    display: flex;
    order: 3;
    position: absolute;
    top: 89px;
    left: 0;
  }
}

.offer-list__link {
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  box-sizing: border-box;
}
@media (min-width: 1150px) {
  .offer-list__link {
    font-size: 15px;
    padding: 20px 18px 20px 18px;
  }
  .offer-list__link--new-goods {
    padding-left: 50px;
  }
}

.catalog-container {
  background-color: #ffffff;
  padding-bottom: 58px;
}

.catalog-container__header {
  min-height: 177px;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 74px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog-container__header {
    padding-top: 101px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}

.catalog-container__title {
  margin: 0;
}

@media (min-width: 768px) {
  .catalog {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.catalog__result-list {
  list-style-type: none;
  padding: 30px;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__result-list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1150px) {
  .catalog__result-list {
    display: flex;
    justify-content: space-between;
  }
}

.catalog__result-link {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}

.catalog__result-card {
  padding: 27px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .catalog__result-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.catalog__result-title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
}

.catalog__result-item {
  display: block;
  min-width: 260px;
  margin-bottom: 30px;
}
.catalog__result-item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .catalog__result-item {
    display: flex;
  }
}
@media (min-width: 1150px) {
  .catalog__result-item {
    flex-direction: column;
    max-width: 316px;
    margin-bottom: 0;
    flex-grow: 1;
  }
}

.catalog__result-description {
  font-size: 13px;
  line-height: 30px;
}

.catalog__result-price-container {
  display: flex;
  margin-top: auto;
}

.catalog__result-button {
  margin-left: auto;
  background-color: #ffffff;
  border: none;
}

.catalog__result-image {
  vertical-align: bottom;
}

.inform {
  border: 1px solid #ececec;
  margin: 30px 30px 0 30px;
}
@media (min-width: 768px) {
  .inform {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media (min-width: 1150px) {
  .inform {
    display: grid;
  }
}

.inform__title {
  margin-left: 91px;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .inform__title {
    order: 1;
    margin: 0;
    padding-left: 107px;
    font-size: 20px;
    background-image: url("../img/video.svg");
    background-repeat: no-repeat;
    background-position: center left 40px;
  }
}
@media (min-width: 1150px) {
  .inform__title {
    grid-column: 3/4;
    grid-row: 1/2;
    padding-top: 96px;
    padding-left: 42px;
    background-position: top 40px left 40px;
  }
}

@media (min-width: 768px) {
  .inform__video {
    order: 0;
  }
}
@media (min-width: 1150px) {
  .inform__video {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}

@media (min-width: 768px) {
  .inform__image {
    min-width: 668px;
    height: 455px;
  }
}
@media (min-width: 1150px) {
  .inform__image {
    width: 683px;
  }
}

.inform__text-wrapper {
  padding: 34px;
}
@media (min-width: 768px) {
  .inform__text-wrapper {
    order: 2;
    padding: 41px 42px 46px;
  }
}

.inform__description {
  margin: 0;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .inform__description {
    font-size: 15px;
    line-height: 30px;
  }
}

.inform__button {
  display: inline-block;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 59px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  color: #444444;
  border: 2px solid #444444;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .inform__button {
    font-size: 17px;
  }
}

.form-container__header {
  min-height: 177px;
  padding-top: 74px;
  box-sizing: border-box;
  text-align: center;
}
@media (min-width: 768px) {
  .form-container__header {
    padding-top: 101px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }
}

.form-container__title {
  margin: 0;
}

.order-page {
  background-color: #ffffff;
  padding-left: 30px;
  padding-top: 17px;
}
@media (min-width: 768px) {
  .order-page {
    padding-left: 0;
  }
}

@media (min-width: 1150px) {
  .order-page__container {
    width: 700px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
}

.order-page__description {
  font-size: 13px;
  margin-top: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .order-page__description {
    margin: 0;
    font-size: 17px;
    padding: 50px 50px 0 50px;
  }
}
@media (min-width: 1150px) {
  .order-page__description {
    padding: 50px 0 0 0;
  }
}

.form {
  padding: 30px 30px 30px 0;
}
@media (min-width: 768px) {
  .form {
    padding: 63px 0 0 0;
  }
}

.form__group {
  padding: 0;
  border: none;
  margin: 0;
  margin-bottom: 30px;
}
.form__group:last-of-type {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form__group:nth-child(2n+2) {
    background-color: #f1f1f1;
  }
}

@media (min-width: 768px) {
  .form__group-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0;
  }
  .form__group-container--contacts {
    flex-direction: column;
  }
}
@media (min-width: 1150px) {
  .form__group-container {
    width: 956px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 128px;
    box-sizing: border-box;
  }
}

.form__group-title {
  margin-bottom: 19px;
  color: #63d1bb;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__group-title {
    margin: 0;
    width: 167px;
  }
}
@media (min-width: 1150px) {
  .form__group-title {
    width: 128px;
  }
}

.form__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .form__list {
    flex-grow: 1;
  }
  .form__list--checkbox {
    display: grid;
    grid-template-columns: 248px 248px;
  }
}
@media (min-width: 1150px) {
  .form__list {
    min-width: 700px;
  }
  .form__list--checkbox {
    grid-template-columns: 205px 205px 205px;
  }
}

.form__list-item {
  margin-bottom: 24px;
}
.form__list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .form__label-wrapper {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .form__label {
    display: flex;
  }
  .form__label--extension {
    flex-grow: 1;
  }
}

.form__label-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .form__label-name {
    font-size: 19px;
  }
}

@media (min-width: 768px) {
  .form__group-contacts-container {
    display: flex;
    justify-content: space-between;
  }
}

.form__text-input {
  display: block;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border: none;
  color: #0000004d;
  box-shadow: inset 0 -2px 0 #000000;
}
@media (min-width: 768px) {
  .form__group-container--contacts .form__text-input {
    background-color: #f1f1f1;
  }
}

.form__textarea {
  min-height: 142px;
  width: 100%;
  padding: 17px;
  color: #0000004d;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .form__textarea {
    font-size: 19px;
  }
}

@media (min-width: 768px) {
  .form__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1150px) {
  .form__button-wrapper {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
}

.form__small-text {
  display: block;
  font-size: 14px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__small-text {
    font-size: 17px;
    line-height: 30px;
  }
}

.form__button {
  width: 260px;
  padding: 18px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
  border: 2px solid #444444;
}
@media (min-width: 768px) {
  .form__button {
    margin: 0;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */